<h1>Log in</h1>

<%= form_for(:session, :url => sessions_url, :html => {'data-ajax' => false}) do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, autocapitalize: 'off' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, autocapitalize: 'off' %>
    </div>
  </div>

  <div class="form-actions">
    <p><%= f.submit "Log in", :class => 'btn btn-inverse' %></p>
    <p><%= link_to 'Forgot your password?', forgot_password_path %></p>
  </div>

  <div>
    <p>
      If you just completed your training, please
      <a href="https://calendly.com/translifeline/training-one-on-one">schedule a 1 on 1 training call.</a>
      You won't be able to login until after your 1 on 1 training call.
    </p>
  </div>
<% end %>
